{
            "kind": "ImageStream",
            "apiVersion": "image.openshift.io/v1",
            "metadata": {
                "name": {% if name %}"{{name}}"{% else %}"{{rhel}}-openjdk-{{openjdk}}"{% endif %},
                "annotations": {
                    "openshift.io/display-name": "{% if displayName %}{{displayName}}{% else %}Red Hat OpenJDK {{openjdk}} ({{ rhel.upper() }}){% endif %}",
                    "openshift.io/provider-display-name": "Red Hat, Inc."
                }
            },
            "spec": {
                "tags": [
                    {{tags}}
                ]
            }
        }
